<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OBS WebCam</title>
    <link rel="stylesheet" href="./webcam.css">
</head>
<body>
<%- include(page) %>
<script async src="./webcam.js"></script>
</body>
</html>