<header>Exibir WebCam na Página</header>
<main>
    <section>
        <video autoplay muted playsinline></video>
    </section>
</main>
<footer>
    <select id="audioSource"></select>
    <select id="videoSource"></select>
</footer>